SKIPCHECK;


['Indicateur_EMP':'Indicateur_EMP':'Capital'] = N: 
  if(['Indicateur_EMP':'Indicateur_EMP':'Encours'] <>0,
  ATTRN( 'Num_Fiche', !Num_Fiche, 'Capital' )
  ,STET);




FEEDERS;


['Indicateur_EMP':'Indicateur_EMP':'Encours']=> ['Indicateur_EMP':'Indicateur_EMP':'Capital'];